body.index-page {
  font-family: var(--font-primary);
  
  main {
    padding: 20px;

    .login-btn {
      text-decoration: none;
      padding: 6px 18px;
      background-color: rgb(var(--light-accent));
      color: rgb(var(--dark-accent));

      &:hover {
        background-color: rgb(var(--dark-accent));
        color: rgb(var(--light-accent));
      }
    }
  }
}