body {
  --primary-accent: 115, 104, 59;
  --dark-accent: 88, 62, 35;
  --light-accent: 176, 160, 132;
  --warning-accent: 176, 48, 36;
  --success-accent: 24, 176, 48;
  --background-color: 19, 38, 47;
  --foreground-color: 233, 230, 255;
  --font-accent: "Domine", serif;
  --font-primary: "Noto Sans Display", sans-serif;
  background-color: rgb(var(--background-color));
  color: rgb(var(--foreground-color));
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}

a {
  color: rgb(var(--primary-accent));
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body.index-page {
  font-family: var(--font-primary);
}
body.index-page main {
  padding: 20px;
}
body.index-page main .login-btn {
  text-decoration: none;
  padding: 6px 18px;
  background-color: rgb(var(--light-accent));
  color: rgb(var(--dark-accent));
}
body.index-page main .login-btn:hover {
  background-color: rgb(var(--dark-accent));
  color: rgb(var(--light-accent));
}

body.dashboard-page {
  font-family: var(--font-primary);
}
body.dashboard-page main {
  padding: 20px;
  display: flex;
  flex-direction: row;
}
body.dashboard-page main .messages {
  width: 30vw;
}
body.dashboard-page main .messages .message {
  padding: 0 0 12px 0;
  border-bottom: 1px solid rgb(var(--dark-accent));
  cursor: pointer;
}
body.dashboard-page main .messages .message .sender {
  color: rgb(var(--primary-accent));
  font-weight: bold;
  display: block;
}
body.dashboard-page main .messages .message .date {
  color: rgb(var(--light-accent));
  font-size: 0.8em;
  display: block;
}
body.dashboard-page main .messages .message .subject {
  font-size: 1.2em;
  display: block;
}
body.dashboard-page main .message_content {
  background-color: rgb(var(--light-accent));
  width: 70vw;
  padding: 20px;
}
body.dashboard-page main .message_content p {
  margin: 0;
  padding: 0;
  color: rgb(var(--background-color));
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 20px;
}
header a:hover {
  text-decoration: none;
}
header a .logo {
  color: rgb(var(--dark-accent));
  font-family: var(--font-primary);
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .menus {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: var(--font-primary);
}
header .menus a {
  color: rgb(var(--warning-accent));
  font-size: 1em;
}
header .menus .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
header .menus .profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
header .menus .profile span {
  font-size: 1em;
  color: rgb(var(--dark-accent));
}
header .menus .logout {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 40px;
  position: absolute;
  bottom: 0;
  padding: 20px;
}