<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/HEAD', { TITLE: 'Page not found' }) %>
</head>

<body class="index-page">
  <%- include('../components/molecules/Header', { user: null }) %>
  
  <main>
    <p>404 - Page not found</p>
  </main>

  <%- include('../components/molecules/Footer') %>
</body>
</html>