<!DOCTYPE html>
<html lang="en">

<%- include('../components/HEAD', { TITLE: 'Private messaging app using Dugong v3 - Dashboard' }) %>

<body class="dashboard-page">

  <%- include('../components/molecules/Header') %>
  
  <main>
    This is the dashboard
  </main>

  <%- include('../components/molecules/Footer') %>

</body>
</html>